
p {
    font-weight: 600;
    font-size: 30px;
    font-family: Pretendard;
    margin-left: 0.3%;
    margin-top: 1vh;
}



.info{
    font-weight: 700;
    font-size: 4.5vh;
    margin-left: 1.5%;
    margin-top: 2%;
}

.text{
    font-weight: 500;
    font-size: 3vh;
    margin-left: 13vw;
    margin-right: 13vw;
}

.paragraph{
    margin-top: 18vh;
}

img{
    width: 60px;
    height: 60px;
}

.title{
    text-decoration: none;
    display: flex;
}


.main1{
    margin-top: 500px;
    font-weight: 900;
    font-size: 65px;
    font-family: Pretendard;
    /*선 만들기*/
    text-decoration: none;
    /*수평 정렬*/
    display: flex;
    margin-left: 300px;
}



/*a:hover{*/
/*    color: #54b3e1;*/
/*}*/



.content1 {
    background-image: url('./YEJIID.jpg');
    background-size: cover;
}


#fp-nav {
    margin-right: 2.5%;

}

#fp-nav ul{
    width: auto;
}

#fp-nav ul li a span {
    background-color: #fff;
}

.fp-table {
    /*요소들을 컨테이너의 어느 쪽으로 정렬할 것인지*/
    justify-content: flex-start;
}

/* 화살표 css */
/* .fp-arrow{
    top:400px;
} */

