
p {
    margin-top: 5px;
    font-weight: 600;
    font-size: 30px;
    font-family: Pretendard;
    margin-left: 10px;
    text-decoration: none;
}

img{
    width: 60px;
    height: 60px;
    flex-flow: row nowrap;
}

.Introduce{
    font-family: Pretendard;
    font-size: 47px;
    font-weight: 700;
}

.main1{
    margin-top: 500px;
    font-weight: 900;
    font-size: 65px;
    font-family: Pretendard;
    text-decoration: none;
    display: flex;
    margin-left: 300px;
}

a{
    width: 60px;
}


/*a:hover{*/
/*    color: #54b3e1;*/
/*}*/



.content1 {
    background-image: url('./YEJIID.jpg');
    background-size: cover;
}

#fp-nav {
    width: 70px;
}

#fp-nav ul li a span {
    background-color: #fff;
}


.fp-table {
    /*요소들을 컨테이너의 어느 쪽으로 정렬할 것인지*/
    justify-content: flex-start;
}



/* 화살표 css */
/* .fp-arrow{
    top:400px;
} */

